ApiService/bin/*
ApiService/obj/*
ApiService/config/ServiceStackLicense.txt
ApiService.ServiceInterface/bin/*
ApiService.ServiceInterface/obj/*
ApiService.ServiceModel/bin/*
ApiService.ServiceModel/obj/*
.DS_Store