<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />	
    <title>Honest Insurance - API Documentation</title>
    <link rel="icon" href="../Templates/HIC_Submark_1.png">
    <link rel="stylesheet" type="text/css" href="../Templates/stylesheet.css">
</head>
<body>
    <div align="center">
        <h1>
            <a href="https://www.honestinsurance.net" target="_blank">
                <img src="../Templates/HIC_Logo_Horizontal_Reverse.png" title="The Honest Insurance Company" width="180" align="left" style="margin:20px 20px 20px 20px"> 
            </a>
            API Documentation
            <a href="https://www.github.com/HonestInsurance/Api-Services" target="_blank">
                <img src="../Templates/Github.png" title="Repository available on Github" width="55" align="right" style="margin:20px 30px 20px 20px"> 
            </a>
        </h1>
    </div>
    
    <div class="operation">
    <div>
        <p><a href="{1}">&lt; back to all web services</a></p>
        <h2>{3}</h2>

		{6}

		<div class="example">
        <!-- REST Examples -->

        <br>
        <br>
        <h3>HTTP + {2}</h3>
        <p> The following are sample HTTP requests and responses.</p>

<div class="request">
<pre>
{4}
</pre>
</div>

{5}

    </div>
    </div>
    </div>
    
    <h1><a href="{1}">&lt; back to all web services</a></h1>
    

</body>
</html>